[submodule "/Users/brianrafferty/Desktop/CS583/MyProjects/dr.-discovery/CS583S19_2D_Game_Rafferty_B_Dr."]
	path = /Users/brianrafferty/Desktop/CS583/MyProjects/dr.-discovery/CS583S19_2D_Game_Rafferty_B_Dr.
	url = http://rijeka.sdsu.edu/bprafferty03/dr.-discovery.git
